@media screen and (min-width: 480px) {
  .container {
    width: 426px;
    margin: 0 auto;
  }

  .hero {
    width: 428px;
  }

  .hero-title {
    font-size: 36px;
  }

  .team-item .pic {
    width: 264px;
  }
  .team-item .content {
    max-width: 264px;
  }

  .section-team > .container {
    width: 294px;
  }

  .footer .footer-text {
    width: 264px;
  }

  .online-input {
    width: 398px;
  }

  .modal {
    width: 392px;
  }
}
