@media screen and (min-width: 480px) {
  .container {
    width: 426px;
    margin: 0 auto;
  }

  .section-team > .container {
    width: 294px;
  }

  @media screen and (max-width: 768px) {
    .menu-button {
      display: flex;
      align-items: center;

      background-color: transparent;
      color: var(--dark-background-color);

      border: none;
      padding: 0;

      cursor: pointer;

      transition: border-color 250ms var(--timing-function);
    }

    .menu-icon {
      stroke: currentColor;
    }

    .menu-button:is(:hover, :focus) {
      border: 3px solid var(--dark-background-color);
    }

    .mobile-menu {
      position: fixed;
      width: 100%;
      height: 100%;

      top: 0;
      left: 0;
      z-index: 1;

      opacity: 0;
      visibility: hidden;
      pointer-events: none;

      background: var(--important-color);
      box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

      transition: opacity 250ms var(--timing-function),
        visibility 250ms var(--timing-function);
    }

    .blok-menu {
      padding-top: 24px;
    }

    .mobile-menu-container {
      padding-right: 9px;
      padding-left: 25px;
    }

    .mobile-menu.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: initial;
    }

    .mobile-menu > .container {
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow-y: auto;
    }

    .menu-close-button {
      width: 24px;
      height: 24px;

      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      margin-left: auto;
      margin-bottom: 32px;

      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      background-color: var(--accent-color);

      transition: color 250ms var(--timing-function),
        background-color 250ms var(--timing-function),
        fill 250ms var(--timing-function);
    }

    .menu-close-button:hover,
    .menu-close-button:focus {
      color: var(--pressed-state-color);
      background-color: var(--pressed-state-color);
      fill: var(--important-color);
    }

    .mobile-menu-list {
      margin-bottom: 40px;
    }

    .mobile-menu-item:not(:last-child) {
      margin-bottom: 40px;
    }

    .mobile-menu-link {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;

      text-transform: capitalize;
      color: var(--dark-background-color);
    }

    .mobile-menu-link:hover,
    .mobile-menu-link:focus {
      color: var(--primary-active-color);
    }

    .mobile-menu-link.link.current {
      color: var(--pressed-state-color);
    }

    .mobile-contacts-address {
      margin-bottom: 48px;
    }

    .mobile-mail-link {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;

      color: var(--primary-text-color);
    }

    .mobile-tel-link {
      display: block;
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
      text-transform: capitalize;
      margin-bottom: 40px;

      color: var(--dark-background-color);
    }

    .mobile-mail-link,
    .mobile-tel-link {
      font-style: normal;
      transition: color 250ms var(--timing-function);
    }

    .mobile-contacts .mobile-mail-link:hover,
    .mobile-contacts .mobile-mail-link:focus,
    .mobile-contacts .mobile-tel-link:hover,
    .mobile-contacts .mobile-tel-link:focus {
      color: var(--primary-active-color);
    }

    .mobile-soc-list {
      display: flex;
      justify-content: center;
      gap: 56px;

      margin-bottom: 40px;
    }

    .mobile-soc-item {
      width: 40px;
      height: 40px;
    }

    .mobile-soc-link {
      width: 100%;
      height: 100%;
      border-radius: 50%;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: var(--primary-active-color);

      transition: background-color 250ms var(--timing-function);
    }

    .mobile-soc-link:is(:hover, :focus) {
      background-color: var(--pressed-state-color);
    }
  }

  .hero-title {
    font-size: 36px;
  }
}
